.header {
    background-color: orange;
    color: white;
    padding: 10px;
    text-align: center;
    height: 169px;
}
.Sampleproductpic {
    width: 300px;
    height: auto;
    transition: all 0.3s ease;
}
.Sampleproductpic:hover {
    width: 400px;
    height: 400px;
}
.Sampleproductpic2 {
    width: 300px;
    height: autopx;
    transition: all 0.3s ease;
}
.Sampleproductpic2:hover {
    width: 350px;
    height: 400px;
}

.add-to-cart {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 25px;
}
.add-to-cart:hover {
    width: 100px;
    height: 60px;
}

.buy-now {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
}
.buy-now:hover {
    width: 100px;
    height: 60px;
}
.view-reviews {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    margin-top: 10px;
}
.view-reviews:hover {
    width: 200px;
    height: 50px;
}